@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  color: rgb(254, 254, 254);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.mycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sxs-link {
  color: #3c82f6 !important;
}

.bdr-b {
  border-bottom: 1px solid #313131;
}

.bdr-t {
  border-top: 1px solid #313131;
}

.bdr-l {
  border-left: 1px solid #313131;
}

.bdr-r {
  border-right: 1px solid #313131;
}

.bdr-all {
  border: 1px solid #313131;
}

.thread-content pre {
  width: 380px;
  max-width: 100%;
  overflow-x: scroll;
}

.thread-content p,
a,
li {
  font-size: 12px;
  margin: 15px 5px;
  word-break: break-word;
}

.thread-content ul {
  font-size: 12px;
  margin: 15px 15px;
  word-break: break-word;
  list-style-type: circle;
}

.thread-content a {
  color: #3c82f6;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
