@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  color: rgb(254, 254, 254);
}

.mycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white !important;
}

.bdr-b {
  border-bottom: 1px solid #313131;
}

.bdr-t {
  border-top: 1px solid #313131;
}

.bdr-l {
  border-left: 1px solid #313131;
}

.bdr-r {
  border-right: 1px solid #313131;
}

.bdr-all {
  border: 1px solid #313131;
}
