@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  color: rgb(254, 254, 254);
}

.mycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white !important;
}
